@model WebApplication2.Models.Enroll
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <link href="~/CSS/style.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/coin-slider.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Welcome">
                </a>
            </div>
            <div class="right-div">
                @Html.ActionLink("LOG ME OUT", "Logout", "User", new { @class = "btn btn-danger pull-right" })
            </div>
        </div>
    </div>
    <section class="menu-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="welcome" class="bg-danger">DASHBOARD</a></li>

                            @if (Session["Email"] != null)
                            {
                                <li><a href="welcome" class="bg-danger">Welcome @Session["Email"].ToString()</a></li>

                            }

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">ADMIN DASHBOARD</h4>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="carousel-example" class="carousel slide slide-bdr" data-ride="carousel">
                        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-success">
                        
                        <div class="panel-body">
                            <div class="table-responsive">
                                @if (Model != null)
                                {
                                    if (Model.Enrollsinfo.Count > 0)
                                    {
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>ID</th>
                                                    <th>FirstName</th>
                                                    <th>LastName</th>
                                                    <th>Password</th>
                                                    <th>Email</th>
                                                    <th>PhoneNumber</th>
                                                    <th>Gender</th>
                                                </tr>
                                                @foreach (var item in Model.Enrollsinfo)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td>@Html.DisplayFor(e => item.ID)</td>
                                                        <td>@Html.DisplayFor(e => item.FirstName)</td>
                                                        <td>@Html.DisplayFor(e => item.LastName)</td>
                                                        <td>@Html.DisplayFor(e => item.Password)</td>
                                                        <td>@Html.DisplayFor(e => item.Email)</td>
                                                        <td>@Html.DisplayFor(e => item.PhoneNumber)</td>
                                                        <td>@Html.DisplayFor(e => item.Gender)</td>


                                                    </tr>



                                                }

                                            </thead>
                                        </table>

                                    }
                                    else
                                    {
                                        <b>No Details Found.</b>
                                    }
                                }







                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>     
</body>
</html>
