@model  WebApplication2.Models.Enroll


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/CSS/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.rtl.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/CSS/style.css" rel="stylesheet" />
    @*<a href="~/Scripts/bootstrap.js.map"></a>*@
<link href="~/CSS/coin-slider.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<a href="~/Scripts/bootstrap.bundle.js.map"></a>*@

    @Scripts.Render("~/bundles/jqueryval")


</head>
<body>
    @using (Html.BeginForm("Index", "Enrollment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
        <div class="row register-form">
            <div class="col-md-6">

                <div class="col-md-9 register-right">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="../Enrollment/Index" role="tab" aria-controls="home" aria-selected="true">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="profile-tab" data-toggle="tab" href="../User/Index" role="tab" aria-controls="profile" aria-selected="true">Login</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Apply as a Employee</h3>
                            <div class="row register-form">
                                
                                    <div class="form-group">

                                        @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control", placeholder = "First Name *" })
                                        @Html.ValidationMessageFor(e => e.FirstName, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">

                                        @Html.TextBoxFor(e => e.LastName, new { @class = "form-control", placeholder = "Last Name*" })
                                        @Html.ValidationMessageFor(e => e.LastName, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">

                                        @Html.PasswordFor(e => e.Password, new { @class = "form-control", placeholder = "password*" })
                                        <span id="result"></span>
                                        @Html.ValidationMessageFor(e => e.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">

                                        @Html.PasswordFor(e => e.Confirmpwd, new { @class = "form-control", placeholder = "confirm password*" })
                                        @Html.ValidationMessageFor(e => e.Confirmpwd, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        <div class="max1">
                                           
                                            @Html.Label("Male")
                                            @Html.RadioButtonFor(e => e.Gender,"Male")
                                            @Html.Label("Female")
                                            @Html.RadioButtonFor(e => e.Gender,"Female")
                                            @Html.ValidationMessageFor(e => e.Gender, "", new {@class="text-danger"})
                                            
                                         </div>
                                    
                                    </div>


                                
                            
                       
                                  
                                  <div class="form-group">

                                         @Html.TextAreaFor(e => e.Email, new { @class = "form-control", placeholder = "your Email*" })
                                         @Html.ValidationMessageFor(e => e.Email, "", new { @class = "text-danger" })

                                  </div>
                                  <div class="form-group">

                                        @Html.TextBoxFor(e=>e.PhoneNumber,new  {@class="form-control",placeholder="your phone Number*" })
                                        @Html.ValidationMessageFor(e => e.PhoneNumber, "", new {@class="text-danger"})
                                  </div>
                                  
                                
                                   <div>
                                      <input type="submit" class=" btnRegister" value="Register" />
                                   </div>
                           </div>
                        </div>

                    </div>
                            .
                    
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    var msg = '@ViewData["result"]';
                    if (msg =='1') {
                        alert("User Details inserted successfully");
                        window.location.href = "@Url.Action("Index", "Enrollment")";

                    }
                })
            </script>
        </div>
     


    }
   @section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
  }

</body>
</html>
